site_name: LUME-Impact
repo_url: https://github.com/ChristopherMayes/lume-impact
repo_name: ChristopherMayeslume-impact

nav:
    - Home: index.md

    - Examples:
        - Basic:
            - examples/basic_impact_examples.ipynb
            - examples/distgen_example.ipynb
            - examples/parallel_run_example.ipynb
            - examples/functional_impact_run.ipynb
        - Fieldmaps:
            - examples/fieldmap_reconstruction.ipynb
            - examples/solrf_fieldmaps.ipynb
        - Utilities:
            - examples/autophase_example.ipynb
            - examples/bmad_interface.ipynb
            - examples/movie_example.ipynb
            - examples/input_parsing_example.ipynb
            - examples/output_parsing_example.ipynb
            - examples/plotting_example.ipynb
        - Conversion:
            - examples/bmad_to_impact/corrector_coil/bmad_to_impact.ipynb
            - examples/bmad_to_impact/corrector_coil/compare.ipynb
        - Elements:
            - examples/elements/drift.ipynb
            - examples/elements/apex_gun.ipynb
            #- examples/elements/dipole.ipunb
            - examples/elements/corrector_coil.ipynb
            - examples/elements/quadrupole.ipynb
            - examples/elements/solenoid.ipynb
            - examples/elements/tesla_9cell_cavity.ipynb
            - examples/elements/traveling_wave_cavity.ipynb
            - examples/elements/wakefield.ipynb
            - examples/elements/3d_field.ipynb
            - examples/elements/awa_flatbeam.ipynb


    - API:
      - Impact: api/impact.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: material

  custom_dir: docs/overrides
  features:
    - navigation.top
    - navigation.tabs
    - navigation.indexes
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex: # Enable MathJAX https://squidfunk.github.io/mkdocs-material/reference/mathjax/
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ChristopherMayes/lume-impact
      name: LUME-Impact

extra_css:
  - stylesheets/extra.css

plugins:
  - search

  - mkdocs-jupyter:
      include_source: True

  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            docstring_style: "numpy"
            inherited_members: false
            filters:
              - "!^_" # exclude all members starting with _
              - "^__init__$" # but always include __init__ modules and methods
          rendering:
            show_source: true
            show_root_heading: true
